// Fonts
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

// Variables
@import 'variables';

//// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Bulma
@import "~bulma/css/bulma.min";

body, button, input, select, textarea {
    font-family: 'Karla', sans-serif;
}

.navbar {
    background-color: #292828;
}

.icofont-fw {
    text-align: left;
    display: inline-block;
}

aside.menu {
    padding: 2em 1em;
}

.menu p.menu-label {
    padding: 0.5em 1.35em;
    color: #c1b4b4;
    background: #292828;
}

.menu-list li {
    position: relative;
    overflow: hidden;
}

.menu-list li a.add-button {
    position: absolute;
    right: -20%;
    top: 0;
}

.menu-list a {
    border-radius: 0;
    color: #797979;
    border-left: 3px solid transparent;
    transition: all 300ms linear;
}

.menu-list a:hover {
    border-left-color: #00b8d4;
    background-color: transparent;
    color: #868181;
    transition: border-left-color 500ms linear;
}

.menu-list a:hover > i {
    color: #00b8d4;
    transition: all 500ms linear;
}

.menu-list a:focus,
.menu-list a:active,
.menu-list a.router-link-exact-active {
    border-left-color: #00b8d4;
    background-color: #4a4848;
    color: #b5b1b1;
    transition: border-left-color 500ms linear,
    background-color 300ms linear;
}

.menu-list a:active > i,
.menu-list a.router-link-exact-active > i {
    color: #00b8d4;
    transition: all 500ms linear;
}

.menu-list li ul {
    border-left: 0;
    margin: 0;
}

.menu-list li ul li a:hover {
    border-left-color: #6f7dc8;
    background-color: transparent;
    color: #b5b1b1;
    transition: border-left-color 500ms linear;
}

.menu-list li ul li a:hover > i {
    color: #6f7dc8;
    transition: all 500ms linear;
}

.menu-list li ul li a:active,
.menu-list li ul li a.router-link-exact-active {
    border-left-color: #6f7dc8;
    transition: border-left-color 500ms linear,
    background-color 300ms linear;
}

.menu-list li ul li a:active > i,
.menu-list li ul li a.router-link-exact-active > i {
    color: #6f7dc8;
    transition: all 500ms linear;
}

.tile.notification.is-primary {
    background-color: rgba(0, 184, 212, 0.5);
    color: #b5b5b5;
}

.tile.notification.is-warning {
    background-color: rgba(111, 125, 200, 0.5);
    color: #b5b5b5;
}

.tile.notification.is-info {
    background-color: rgba(10, 114, 183, 0.5);
    color: #b5b5b5;
}

.tile.notification.is-danger {
    background-color: rgba(241, 70, 104, 0.5);
    color: #b5b5b5;
}

.tile.notification.is-success {
    background-color: rgba(182, 187, 98, 0.5);
    color: #b5b5b5;
}

#formTabs .tabs li a {
    border-bottom-color: #b5b5b5;
    color: #b5b5b5;
    transition: all 400ms linear;
}

#formTabs .tabs li a:hover {
    border-bottom-color: #ffffff;
    color: #ffffff;
    transition: all 400ms linear;
}

#formTabs .tabs li.is-active a {
    border-bottom-color: #ffffff;
    color: #ffffff;
    transition: all 400ms linear;
}

#formTabs .tabs:not(:last-child) {
    margin-bottom: 0;
}

#formTabs .tab-content {
    padding: 1rem 0 2rem;
    display: none;
}

#formTabs .tab-content.is-active {
    display: block;
}

ul.status {
    list-style: none;
    margin-left: 0;
}

.status-indicator {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: .5em;
    border: 1px solid rgba(214, 214, 214, 0.5);
}

.status .done .status-indicator {
    background-color: rgba(0, 184, 212, 0.5);
}

.status .open .status-indicator {
    background-color: rgba(182, 187, 98, 0.5);
}

.status .warning .status-indicator {
    background-color: rgba(241, 70, 104, 0.5);
}

.panel-view .panel.is-primary {
    .panel-heading {
        background: rgba(0, 209, 178, 0.2);
        color: #b5b1b1;
    }
}

.panel-view .panel {
    background: rgba(255, 255, 255, 0.2);

    .label {
        color: #b5b1b1;
    }

    .input,
    .textarea {
        background: none;
        color: #d0cccc;
        transition: all 400ms linear;
    }

    .textarea::placeholder,
    .input::placeholder {
        color: #8e8888;
    }

    .input:active,
    .input:focus,
    .is-active.input,
    .is-active.textarea,
    .is-focused.input,
    .is-focused.textarea,
    .select select.is-active,
    .select select.is-focused,
    .select select:active,
    .select select:focus,
    .textarea:active,
    .textarea:focus {
        border-color: #00b8d4;
        transition: all 400ms linear;
    }

    .table {
        background-color: transparent;
        color: #b5b1b1;
        th {
            color: #d0cccc;
        }
        tfoot tr th,
        tfoot tr td {
            color: #d0cccc;
        }
    }

    .table.is-hoverable tbody tr:not(.is-selected):hover {
        background-color: rgba(250, 250, 250, 0.1);
    }
}

.login-form {
    .hero .nav, .hero.is-success .nav {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .box {
        margin-top: 5rem;
    }
    .avatar {
        margin-top: -70px;
        padding-bottom: 20px;
    }
    .avatar img {
        padding: 5px;
        background: #fff;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
        box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    }
    input {
        font-weight: 300;
    }
    p {
        font-weight: 700;
    }
    p.subtitle {
        padding-top: 1rem;
    }
    .login-hr{
        height: 3px;
        border-bottom: 2px solid #ffffff;
        box-shadow: #000 1px 1px 3px;
    }
    .has-text-black{
        color: black;
    }
    .has-text-white {
        text-shadow: #000 1px 1px 3px;
    }
    .field{
        padding-bottom: 10px;
    }
    .fa{
        margin-left: 5px;
    }
}

.add-button {
    background-color: rgba(255, 221, 87, 0.5)!important;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 50%;
    position: fixed;
    right: .5em;
    top: 50%;
}

.checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: #ececec;
    }

    // Box hover
    &:hover + label:before {
      background: #2793da;
    }

    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    // Box checked
    &:checked + label:before {
      background: #2793da;
    }

    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow:
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
}

.spinning {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 1.5em;
    margin-top: -0.2em;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#particles-js {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #dbdbdb;
}

.select {
    width: 100%;

    select {
        width: 100%;
        background-color: transparent;
        color: #d0cccc;
    }

    select option {
        background-color: #5e5e5e;
    }
}

.select:not(.is-multiple):not(.is-loading):focus::after,
.select:not(.is-multiple):not(.is-loading):active::after,
.select:not(.is-multiple):not(.is-loading):hover::after {
    border-color: #00b8d4;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #d0cccc;
}

#order_summary {
    p {
        color: #d0cccc;
    }
}

#invoice_preview {
    p {
        margin-bottom: 1em;
    }
}
