.clock {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  position: relative;
}

.clock__second,
.clock__minute,
.clock__hour,
.clock__indicator {
  position: absolute;
  left: calc(50% - 1px);
  width: 2px;
  background: #f4eed7;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  z-index: 2;
  border-radius: 1px;
}

.clock__second {
  height: 90px;
  margin-top: 10px;
  background: #4b9aaa;
  -webkit-animation: time 60s infinite steps(60);
          animation: time 60s infinite steps(60);
  z-index: 3;
}

.clock__minute {
  height: 80px;
  margin-top: 20px;
  opacity: 0.75;
  -webkit-animation: time 3600s linear infinite;
          animation: time 3600s linear infinite;
}

.clock__hour {
  height: 60px;
  margin-top: 40px;
  -webkit-animation: time 43200s linear infinite;
          animation: time 43200s linear infinite;
}

.clock__indicator {
  height: 98px;
  border-top: 2px solid #4b9aaa;
  background: none;
}

.clock__indicator:nth-of-type(5n) {
  opacity: 1;
  height: 93px;
  border-top: 7px solid #f4eed7;
}

.clock__axis {
  background: #4b9aaa;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  position: absolute;
  z-index: 4;
  top: 97px;
}

.clock section:nth-of-type(1) {
  -webkit-transform: rotateZ(calc(6deg * 1));
          transform: rotateZ(calc(6deg * 1));
}

.clock section:nth-of-type(2) {
  -webkit-transform: rotateZ(calc(6deg * 2));
          transform: rotateZ(calc(6deg * 2));
}

.clock section:nth-of-type(3) {
  -webkit-transform: rotateZ(calc(6deg * 3));
          transform: rotateZ(calc(6deg * 3));
}

.clock section:nth-of-type(4) {
  -webkit-transform: rotateZ(calc(6deg * 4));
          transform: rotateZ(calc(6deg * 4));
}

.clock section:nth-of-type(5) {
  -webkit-transform: rotateZ(calc(6deg * 5));
          transform: rotateZ(calc(6deg * 5));
}

.clock section:nth-of-type(6) {
  -webkit-transform: rotateZ(calc(6deg * 6));
          transform: rotateZ(calc(6deg * 6));
}

.clock section:nth-of-type(7) {
  -webkit-transform: rotateZ(calc(6deg * 7));
          transform: rotateZ(calc(6deg * 7));
}

.clock section:nth-of-type(8) {
  -webkit-transform: rotateZ(calc(6deg * 8));
          transform: rotateZ(calc(6deg * 8));
}

.clock section:nth-of-type(9) {
  -webkit-transform: rotateZ(calc(6deg * 9));
          transform: rotateZ(calc(6deg * 9));
}

.clock section:nth-of-type(10) {
  -webkit-transform: rotateZ(calc(6deg * 10));
          transform: rotateZ(calc(6deg * 10));
}

.clock section:nth-of-type(11) {
  -webkit-transform: rotateZ(calc(6deg * 11));
          transform: rotateZ(calc(6deg * 11));
}

.clock section:nth-of-type(12) {
  -webkit-transform: rotateZ(calc(6deg * 12));
          transform: rotateZ(calc(6deg * 12));
}

.clock section:nth-of-type(13) {
  -webkit-transform: rotateZ(calc(6deg * 13));
          transform: rotateZ(calc(6deg * 13));
}

.clock section:nth-of-type(14) {
  -webkit-transform: rotateZ(calc(6deg * 14));
          transform: rotateZ(calc(6deg * 14));
}

.clock section:nth-of-type(15) {
  -webkit-transform: rotateZ(calc(6deg * 15));
          transform: rotateZ(calc(6deg * 15));
}

.clock section:nth-of-type(16) {
  -webkit-transform: rotateZ(calc(6deg * 16));
          transform: rotateZ(calc(6deg * 16));
}

.clock section:nth-of-type(17) {
  -webkit-transform: rotateZ(calc(6deg * 17));
          transform: rotateZ(calc(6deg * 17));
}

.clock section:nth-of-type(18) {
  -webkit-transform: rotateZ(calc(6deg * 18));
          transform: rotateZ(calc(6deg * 18));
}

.clock section:nth-of-type(19) {
  -webkit-transform: rotateZ(calc(6deg * 19));
          transform: rotateZ(calc(6deg * 19));
}

.clock section:nth-of-type(20) {
  -webkit-transform: rotateZ(calc(6deg * 20));
          transform: rotateZ(calc(6deg * 20));
}

.clock section:nth-of-type(21) {
  -webkit-transform: rotateZ(calc(6deg * 21));
          transform: rotateZ(calc(6deg * 21));
}

.clock section:nth-of-type(22) {
  -webkit-transform: rotateZ(calc(6deg * 22));
          transform: rotateZ(calc(6deg * 22));
}

.clock section:nth-of-type(23) {
  -webkit-transform: rotateZ(calc(6deg * 23));
          transform: rotateZ(calc(6deg * 23));
}

.clock section:nth-of-type(24) {
  -webkit-transform: rotateZ(calc(6deg * 24));
          transform: rotateZ(calc(6deg * 24));
}

.clock section:nth-of-type(25) {
  -webkit-transform: rotateZ(calc(6deg * 25));
          transform: rotateZ(calc(6deg * 25));
}

.clock section:nth-of-type(26) {
  -webkit-transform: rotateZ(calc(6deg * 26));
          transform: rotateZ(calc(6deg * 26));
}

.clock section:nth-of-type(27) {
  -webkit-transform: rotateZ(calc(6deg * 27));
          transform: rotateZ(calc(6deg * 27));
}

.clock section:nth-of-type(28) {
  -webkit-transform: rotateZ(calc(6deg * 28));
          transform: rotateZ(calc(6deg * 28));
}

.clock section:nth-of-type(29) {
  -webkit-transform: rotateZ(calc(6deg * 29));
          transform: rotateZ(calc(6deg * 29));
}

.clock section:nth-of-type(30) {
  -webkit-transform: rotateZ(calc(6deg * 30));
          transform: rotateZ(calc(6deg * 30));
}

.clock section:nth-of-type(31) {
  -webkit-transform: rotateZ(calc(6deg * 31));
          transform: rotateZ(calc(6deg * 31));
}

.clock section:nth-of-type(32) {
  -webkit-transform: rotateZ(calc(6deg * 32));
          transform: rotateZ(calc(6deg * 32));
}

.clock section:nth-of-type(33) {
  -webkit-transform: rotateZ(calc(6deg * 33));
          transform: rotateZ(calc(6deg * 33));
}

.clock section:nth-of-type(34) {
  -webkit-transform: rotateZ(calc(6deg * 34));
          transform: rotateZ(calc(6deg * 34));
}

.clock section:nth-of-type(35) {
  -webkit-transform: rotateZ(calc(6deg * 35));
          transform: rotateZ(calc(6deg * 35));
}

.clock section:nth-of-type(36) {
  -webkit-transform: rotateZ(calc(6deg * 36));
          transform: rotateZ(calc(6deg * 36));
}

.clock section:nth-of-type(37) {
  -webkit-transform: rotateZ(calc(6deg * 37));
          transform: rotateZ(calc(6deg * 37));
}

.clock section:nth-of-type(38) {
  -webkit-transform: rotateZ(calc(6deg * 38));
          transform: rotateZ(calc(6deg * 38));
}

.clock section:nth-of-type(39) {
  -webkit-transform: rotateZ(calc(6deg * 39));
          transform: rotateZ(calc(6deg * 39));
}

.clock section:nth-of-type(40) {
  -webkit-transform: rotateZ(calc(6deg * 40));
          transform: rotateZ(calc(6deg * 40));
}

.clock section:nth-of-type(41) {
  -webkit-transform: rotateZ(calc(6deg * 41));
          transform: rotateZ(calc(6deg * 41));
}

.clock section:nth-of-type(42) {
  -webkit-transform: rotateZ(calc(6deg * 42));
          transform: rotateZ(calc(6deg * 42));
}

.clock section:nth-of-type(43) {
  -webkit-transform: rotateZ(calc(6deg * 43));
          transform: rotateZ(calc(6deg * 43));
}

.clock section:nth-of-type(44) {
  -webkit-transform: rotateZ(calc(6deg * 44));
          transform: rotateZ(calc(6deg * 44));
}

.clock section:nth-of-type(45) {
  -webkit-transform: rotateZ(calc(6deg * 45));
          transform: rotateZ(calc(6deg * 45));
}

.clock section:nth-of-type(46) {
  -webkit-transform: rotateZ(calc(6deg * 46));
          transform: rotateZ(calc(6deg * 46));
}

.clock section:nth-of-type(47) {
  -webkit-transform: rotateZ(calc(6deg * 47));
          transform: rotateZ(calc(6deg * 47));
}

.clock section:nth-of-type(48) {
  -webkit-transform: rotateZ(calc(6deg * 48));
          transform: rotateZ(calc(6deg * 48));
}

.clock section:nth-of-type(49) {
  -webkit-transform: rotateZ(calc(6deg * 49));
          transform: rotateZ(calc(6deg * 49));
}

.clock section:nth-of-type(50) {
  -webkit-transform: rotateZ(calc(6deg * 50));
          transform: rotateZ(calc(6deg * 50));
}

.clock section:nth-of-type(51) {
  -webkit-transform: rotateZ(calc(6deg * 51));
          transform: rotateZ(calc(6deg * 51));
}

.clock section:nth-of-type(52) {
  -webkit-transform: rotateZ(calc(6deg * 52));
          transform: rotateZ(calc(6deg * 52));
}

.clock section:nth-of-type(53) {
  -webkit-transform: rotateZ(calc(6deg * 53));
          transform: rotateZ(calc(6deg * 53));
}

.clock section:nth-of-type(54) {
  -webkit-transform: rotateZ(calc(6deg * 54));
          transform: rotateZ(calc(6deg * 54));
}

.clock section:nth-of-type(55) {
  -webkit-transform: rotateZ(calc(6deg * 55));
          transform: rotateZ(calc(6deg * 55));
}

.clock section:nth-of-type(56) {
  -webkit-transform: rotateZ(calc(6deg * 56));
          transform: rotateZ(calc(6deg * 56));
}

.clock section:nth-of-type(57) {
  -webkit-transform: rotateZ(calc(6deg * 57));
          transform: rotateZ(calc(6deg * 57));
}

.clock section:nth-of-type(58) {
  -webkit-transform: rotateZ(calc(6deg * 58));
          transform: rotateZ(calc(6deg * 58));
}

.clock section:nth-of-type(59) {
  -webkit-transform: rotateZ(calc(6deg * 59));
          transform: rotateZ(calc(6deg * 59));
}

.clock section:nth-of-type(60) {
  -webkit-transform: rotateZ(calc(6deg * 60));
          transform: rotateZ(calc(6deg * 60));
}

@-webkit-keyframes time {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes time {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

