<template>
    <div>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <span class="navbar-item has-text-white">
                    <strong class="title has-text-white">ICU</strong>Media
                </span>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light">
                            <strong>Profile</strong>
                        </a>

                        <a class="button is-light" @click.prevent="logout()">
                            <i class="icofont-logout icofont-fw"></i> Log out
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <section class="columns is-gapless">
            <aside class="menu column is-2">
                <div class="container">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><router-link :to="{ name: 'home' }"><i class="icofont-dashboard-web icofont-fw"></i> Home</router-link></li>
                        <li><router-link :to="{ name: 'hello' }"><i class="icofont-globe icofont-fw"></i> Hello World</router-link></li>
                        <li><router-link :to="{ name: 'users.index' }" @click="this.setActive()" :class="[$route.name == 'users.edit' || $route.name == 'users.create' ? 'router-link-exact-active' : '']"><i class="icofont-users-alt-6 icofont-fw"></i> Users</router-link></li>
                        <li><router-link :to="{ name: 'customers.index' }" @click="this.setActive()" :class="[$route.name == 'customers.edit' || $route.name == 'customers.create' ? 'router-link-exact-active' : '']"><i class="icofont-users-social icofont-fw"></i> Customers</router-link></li>
                        <li><router-link :to="{ name: 'orders.index' }" @click="this.setActive()" :class="[$route.name == 'orders.edit' || $route.name == 'orders.create' ? 'router-link-exact-active' : '']"><i class="icofont-list icofont-fw"></i> Orders</router-link></li>
                        <li><router-link :to="{ name: 'invoices.index' }" @click="this.setActive()" :class="[$route.name == 'invoice.edit' || $route.name == 'invoice.create' ? 'router-link-exact-active' : '']"><i class="icofont-money icofont-fw"></i> Invoices</router-link></li>
                        <!-- <li>
                            <a><i class="icofont-users-social icofont-fw"></i> Manage Your Team</a>
                            <ul>
                                <li><a><i class="icofont-user-alt-6 icofont-fw"></i>  Members</a></li>
                                <li><a><i class="icofont-addons icofont-fw"></i> Plugins</a></li>
                                <li><a><i class="icofont-ui-add icofont-fw"></i> Add a member</a></li>
                            </ul>
                        </li>
                        <li><a>Invitations</a></li>
                        <li><a>Cloud Storage Environment Settings</a></li>
                        <li><a>Authentication</a></li> -->
                    </ul>
                    <!-- <p class="menu-label">
                        Transactions
                    </p>
                    <ul class="menu-list">
                        <li><a>Payments</a></li>
                        <li><a>Transfers</a></li>
                        <li><a>Balance</a></li>
                    </ul> -->
                </div>
            </aside>
            <div class="column ia-middlecolumn">
                <div class="tile is-12 is-parent">
                    <router-view></router-view>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
    import axios from 'axios';
    
    export default {
        data() {
            return { activeItem: 'home' }
        },
        methods: {
            logout() {
                axios.post('/logout')
                    .then(() => {
                        window.location.href = '/login';
                    })
                    .catch(error => {
                       window.location.href = '/login';
                    });
            },
            isActive: function (menuItem) {
                return this.activeItem === menuItem
            },
            setActive: function (menuItem) {
                console.log(menuItem);
                this.activeItem = menuItem // no need for Vue.set()
            },
        }
    }
</script>
