<template>
    <div class="tile is-ancestor panel-view">
        <div class="tile is-vertical is-fullwidth is-parent">
            <article class="panel is-primary">
                <p class="panel-heading">All Customers</p>
                <div class="panel-block">
                    <table class="table is-hoverable is-fullwidth" id="datatable">
                        <thead>
                            <tr>
                                <th>Company</th><th>Email</th><th>Phone</th><th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="{ id, company, email, phone } in customers" v-bind:key="id">
                                <td>{{ company }}</td>
                                <td>{{ email }}</td>
                                <td>{{ phone }}</td>
                                <td><router-link :to="{ name: 'customers.edit', params: { id } }" class="button is-small is-primary"><i class="icofont-pencil icofont-2x"></i></router-link> <a href="#" @click.prevent="onDelete(id)" class="button is-small is-danger"><i class="icofont-garbage icofont-2x"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-block">
                    <div class="tile is-ancestor">
                        <div class="tile is-parent is-1">
                            <div class="tile is-child">
                                <button :disabled="! prevPage" @click.prevent="goToPrev" class="pagination-previous">Previous</button>
                            </div>
                        </div>
                        <div class="tile is-parent is-1">
                            <div class="tile is-child">
                                <button :disabled="! nextPage" @click.prevent="goToNext" class="pagination-next">Next</button>
                            </div>
                        </div>
                        <div class="tile is-parent is-10">
                            <div class="tile is-parent">
                                <div class="is-child">
                                    <p class="has-text-white">{{ paginationCount }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <router-link :to="{ name: 'customers.create' }" class="add-button button is-warning"><i class="icofont-plus"></i></router-link>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
import api from '../api/customers';

const getCustomers = (page, callback) => {
    const params = { page };

    axios
        .get('/api/customers', { params })
        .then(response => {
            callback(null, response.data);
        }).catch(error => {
            callback(error, error.response.data);
    });
};

export default {
    data() {
        return {
            customers: null,
            meta: null,
            links: {
                first: null,
                last: null,
                next: null,
                prev: null,
            },
            saving: false,
            message: false,
            customer: {
                company: '',
                contact: '',
                email: '',
                phone: '',
                street: '',
                houseno: '',
                zipcode: '',
                city: '',
                country: '',
                rate: '',
                notes: '',
            },
            error: [],
        };
    },
    mounted: function() {

    },
    computed: {
        nextPage() {
            if (! this.meta || this.meta.current_page === this.meta.last_page) {
                return;
            }

            return this.meta.current_page + 1;
        },
        prevPage() {
            if (! this.meta || this.meta.current_page === 1) {
                return;
            }

            return this.meta.current_page - 1;
        },
        paginationCount() {
            if (! this.meta) {
                return;
            }

            const { current_page, last_page } = this.meta;

            return `${current_page} of ${last_page}`;
        },
    },
    beforeRouteEnter (to, from, next) {
        getCustomers(to.query.page, (err, data) => {
            next(vm => vm.setData(err, data));
        });
    },
    // when route changes and this component is already rendered,
    // the logic will be slightly different.
    beforeRouteUpdate (to, from, next) {
        this.customers = this.links = this.meta = null
        getCustomers(to.query.page, (err, data) => {
            this.setData(err, data);
            next();
        });
    },
    methods: {
        onDelete(id) {
            this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    this.saving = true;
                    let _this = this;

                    api.delete(id)
                        .then((response) => {
                            this.message = 'Customer Deleted';
                            setTimeout(() => _this.getItems(), 1000);
                        });
                    this.$swal.fire(
                        'Deleted!',
                        'The Customer has been deleted.',
                        'success'
                    )
                }
            })
        },
        goToNext() {
            this.$router.push({
                query: {
                    page: this.nextPage,
                },
            });
        },
        goToPrev() {
            this.$router.push({
                name: 'customers.index',
                query: {
                    page: this.prevPage,
                }
            });
        },
        setData(err, { data: customers, links, meta }) {
            if (err) {
                this.error = err.toString();
            } else {
                this.customers = customers;
                this.links = links;
                this.meta = meta;
            }
        },
        getItems() {
            var _this = this;

            axios.get('/api/customers').then(function (response) {
                _this.customers = response.data.data;
            });
        }
    }
}
</script>
