<template>
    <div class="tile is-ancestor colums is-6">
        <div class="tile is-parent">
            <div class="tile is-child panel-view">
                <article class="panel is-primary">
                    <p class="panel-heading">Edit <span v-if="customer">{{ customer.company }}</span>  <span v-if="! loaded || saving" class="is-pulled-right spinning"><i class="icofont-spinner-alt-6"></i></span></p>
                    <div class="panel-block">
                        <form class="control" autocomplete="off" @submit.prevent="onSubmit($event)">
                            <div v-if="message" class="help is-danger">{{ message }}</div>
                            <div id="formTabs">
                                <div class="tabs is-centered">
                                    <ul>
                                        <li><a>Contact</a></li>
                                        <li><a>Address</a></li>
                                        <li><a>Other</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <section class="tab-content">
                                        <label class="label" for="company">Company</label>
                                        <div class="field">
                                            <div class="control">
                                                <input type="text" id="company" placeholder="Company Name" autocomplete="off" v-model="customer.company" :class="['input', error.company ? 'is-danger' : '']">
                                                <p v-if="error.company" class="help is-danger">{{ error.company[0] }}</p>
                                            </div>
                                        </div>
                                        <label class="label" for="contact">Contact</label>
                                        <div class="field">
                                            <div class="control">
                                                <input type="text" id="contact" placeholder="Contact Name" autocomplete="off" v-model="customer.contact" :class="['input', error.contact ? 'is-danger' : '']">
                                                <p v-if="error.contact" class="help is-danger">{{ error.contact[0] }}</p>
                                            </div>
                                        </div>
                                        <label class="label" for="email">Email</label>
                                        <div class="field">
                                            <div class="control">
                                                <input type="text" id="email" placeholder="Email Address" autocomplete="off" v-model="customer.email" :class="['input', error.email ? 'is-danger' : '']">
                                                <p v-if="error.email" class="help is-danger">{{ error.email[0] }}</p>
                                            </div>
                                        </div>
                                        <label class="label" for="phone">Phone</label>
                                        <div class="field">
                                            <div class="control">
                                                <input type="text" id="phone" placeholder="Phone Number" autocomplete="off" v-model="customer.phone" :class="['input', error.phone ? 'is-danger' : '']">
                                                <p v-if="error.phone" class="help is-danger">{{ error.phone[0] }}</p>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="tab-content">
                                        <label class="label" for="street">Address</label>
                                        <div class="field has-addons">
                                            <div class="control is-expanded">
                                                <input type="text" d="street" placeholder="Street" autocomplete="off" v-model="customer.street" :class="['input', error.street ? 'is-danger' : '']">
                                                <p v-if="error.street" class="help is-danger">{{ error.street[0] }}</p>
                                            </div>
                                            <div class="control">
                                                <input type="text" id="houseno" placeholder="House Number" autocomplete="off" v-model="customer.houseno" :class="['input', error.houseno ? 'is-danger' : '']">
                                                <p v-if="error.houseno" class="help is-danger">{{ error.houseno[0] }}</p>
                                            </div>
                                        </div>
                                        <label class="label" for="city">City</label>
                                        <div class="field has-addons">
                                            <div class="control is-expanded">
                                                <input type="text" id="city" placeholder="City" autocomplete="off" v-model="customer.city" :class="['input', error.city ? 'is-danger' : '']">
                                                <p v-if="error.city" class="help is-danger">{{ error.city[0] }}</p>
                                            </div>
                                            <div class="control">
                                                <input type="text" id="zipcode" placeholder="Zipcode" autocomplete="off" v-model="customer.zipcode" :class="['input', error.zipcode ? 'is-danger' : '']">
                                                <p v-if="error.zipcode" class="help is-danger">{{ error.zipcode[0] }}</p>
                                            </div>
                                        </div>
                                        <label class="label" for="rate">Country</label>
                                        <div class="field">
                                            <div class="control">
                                                <input type="text" id="country" placeholder="Country" autocomplete="off" v-model="customer.country" :class="['input', error.country ? 'is-danger' : '']">
                                                <p v-if="error.country" class="help is-danger">{{ error.country[0] }}</p>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="tab-content">
                                        <label class="label" for="rate">Hourly Rate</label>
                                        <div class="field has-addons">
                                            <div class="control">
                                                <a class="button is-static">
                                                    <i class="icofont-euro"></i>
                                                </a>
                                            </div>
                                            <div class="control is-expanded">
                                                <input type="text" id="rate" placeholder="Rate in Euro's" autocomplete="off" v-model="displayValue" @blur="isInputActive = false" @focus="isInputActive = true" :class="['input', error.rate ? 'is-danger' : '']">
                                                <p v-if="error.rate" class="help is-danger">{{ error.rate[0] }}</p>
                                            </div>
                                        </div>
                                        <label class="label" for="notes">Notes</label>
                                        <div class="field">
                                            <div class="control">
                                                <textarea id="notes" placeholder="Customer Notes" v-model="customer.notes" :class="['textarea', error.notes ? 'is-danger' : '']"></textarea>
                                                <p v-if="error.notes" class="help is-danger">{{ error.notes[0] }}</p>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-primary"><i class="fas fa-circle-notch fa-spin"></i> Save</button>
                                </div>
                                <div class="control">
                                    <router-link :to="{ name: 'customers.index'}" class="button is-link is-light">Cancel</router-link>
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import api from '../api/customers';

const getCustomers = (page, callback) => {
    const params = { page };

    axios
        .get('/api/customers', { params })
        .then(response => {
            callback(null, response.data);
        }).catch(error => {
        callback(error, error.response.data);
    });
};

export default {
    data() {
        return {
            customers: null,
            meta: null,
            saving: false,
            loaded: false,
            message: false,
            customer: {
                id: '',
                company: '',
                contact: '',
                email: '',
                phone: '',
                street: '',
                houseno: '',
                zipcode: '',
                city: '',
                country: '',
                rate: '',
                notes: '',
            },
            error: [],
            isInputActive: false
        };
    },
    mounted: function() {
        let tabsWithContent = (function () {
            let tabs = document.querySelectorAll('#formTabs .tabs li');
            let tabsContent = document.querySelectorAll('.tab-content');

            let deactvateAllTabs = function () {
                tabs.forEach(function (tab) {
                    tab.classList.remove('is-active');
                });
            };

            let hideTabsContent = function () {
                tabsContent.forEach(function (tabContent) {
                    tabContent.classList.remove('is-active');
                });
            };

            let activateTabsContent = function (tab) {
                tabsContent[getIndex(tab)].classList.add('is-active');
            };

            let getIndex = function (el) {
                return [...el.parentElement.children].indexOf(el);
            };

            tabs.forEach(function (tab) {
                tab.addEventListener('click', function () {
                    deactvateAllTabs();
                    hideTabsContent();
                    tab.classList.add('is-active');
                    activateTabsContent(tab);
                });
            })

            tabs[0].click();
        })();

    },
    computed: {
        displayValue: {
            get: function() {
                if (this.isInputActive) {
                    // Cursor is inside the input field. unformat display value for user
                    return (this.customer.rate / 100).toString()
                } else {
                    // User is not modifying now. Format display value for user interface
                    return (this.customer.rate / 100).toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
                }
            },
            set: function(modifiedValue) {
                // Recalculate value after ignoring "$" and "," in user input
                let newValue = parseFloat(modifiedValue.replace(/[^\d\.]/g, ""))
                // Ensure that it is not NaN
                if (isNaN(newValue)) {
                    newValue = 0
                }
                // Note: we cannot set this.value as it is a "prop". It needs to be passed to parent component
                // $emit the event so that parent component gets it
                this.$emit('#rate', newValue)
            }
        }
    },
    methods: {
        onSubmit($event) {
            console.log(this);
            this.saving = true
            this.message = false

            api.update(this.customer.id, {
                    company: this.customer.company,
                    contact: this.customer.contact,
                    email: this.customer.email,
                    phone: this.customer.phone,
                    street: this.customer.street,
                    houseno: this.customer.houseno,
                    zipcode: this.customer.zipcode,
                    city: this.customer.city,
                    country: this.customer.country,
                    rate: this.customer.rate,
                    notes: this.customer.notes,
                })
                .then((response) => {
                    this.$router.push({ name: 'customers.index', params: { id: response.data.data.id } });
                    console.log('success');
                })
                .catch((e) => {
                    this.message = e.response.data.message || 'There was an issue saving the customer.';
                    this.error = e.response.data.errors;
                    console.log(this.error);
                })
                .then(() => this.saving = false)
        },
        setData(err, { data: customers, links, meta }) {
            if (err) {
                this.error = err.toString();
            } else {
                this.customers = customers;
                this.links = links;
                this.meta = meta;
            }
        }
    },
    created() {
        api.find(this.$route.params.id)
            .then((response) => {
                this.loaded = true;
                this.customer = response.data.data;
            })
            .catch((err) => {
                this.$router.push({ name: '404' });
            });
    }
}
</script>

