<template>
    <div>
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-primary">
                            <p class="title">This is the homepage</p>
                            <p class="subtitle">Top tile</p>
                        </article>
                        <article class="tile is-child notification is-warning">
                            <p class="title">
                                <span class="is-large" id="weekday"></span> <span class="is-large" id="day"></span><br>
                                <span class="is-large" id="month"></span> <span class="is-large" id="year"></span>
                            </p>
                            <div class="clock right">
                                <div class="clock__second"></div>
                                <div class="clock__minute"></div>
                                <div class="clock__hour"></div>
                                <div class="clock__axis"></div>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                                <section class="clock__indicator"></section>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-info">
                            <p class="title">Middle tile</p>
                            <p class="subtitle">With an image</p>
                            <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/640x480.png">
                            </figure>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-danger">
                        <p class="title">Wide tile</p>
                        <p class="subtitle">Aligned with the right tile</p>
                        <div class="content">
                            <!-- Content -->
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-success">
                    <div class="content">
                        <p class="title">Tall tile</p>
                        <p class="subtitle">With even more content</p>
                        <div class="content">
                            <ul class="status">
                                <li class="done"><div class="status-indicator"></div><strong>Item 1</strong> <span class="has-text-grey">status</span></li>
                                <li class="open"><div class="status-indicator"></div><strong>Item 2</strong> <span class="has-text-grey">status</span></li>
                                <li class="warning"><div class="status-indicator"></div><strong>Item 3</strong> <span class="has-text-grey">status</span></li>
                                <li class="inactive"><div class="status-indicator"></div><strong>Item 4</strong> <span class="has-text-grey">status</span></li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <article class="tile notification is-success">
            <div class="content">
                <p class="title">Tall tile</p>
                <p class="subtitle">With even more content</p>
                <div class="content">
                    <ul class="status">
                        <li class="done"><div class="status-indicator"></div><strong>Item 1</strong> <span class="has-text-grey">status</span></li>
                        <li class="open"><div class="status-indicator"></div><strong>Item 2</strong> <span class="has-text-grey">status</span></li>
                        <li class="warning"><div class="status-indicator"></div><strong>Item 3</strong> <span class="has-text-grey">status</span></li>
                        <li class="inactive"><div class="status-indicator"></div><strong>Item 4</strong> <span class="has-text-grey">status</span></li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</template>
