<template>
    <div class="tile is-ancestor panel-view">
        <div class="tile is-vertical is-fullwidth is-parent">
            <article class="panel is-primary">
                <p class="panel-heading">All Invoices</p>
                <div class="panel-block">
                    <table class="table is-hoverable is-fullwidth" id="datatable">
                        <thead>
                            <tr>
                                <th>Customer</th><th>Description</th><th>Total</th><th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </article>
            <router-link :to="{ name: 'invoices.create' }" class="add-button button is-warning"><i class="icofont-plus"></i></router-link>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {};
    },
    mounted: function() {

    }
}
</script>
