<template>
    <div class="tile is-ancestor colums is-12">
        <div class="tile is-parent">
            <div class="tile is-child panel-view">
                <article class="panel is-primary">
                    <p class="panel-heading">New Invoice <span v-if="saving" class="is-pulled-right spinning"><i class="icofont-spinner-alt-6"></i></span></p>
                    <div class="panel-block">
                        <form class="control" @submit.prevent="onSubmit($event)">
                            <div class="tile colums is-ancestor">
                                <div class="tile is-parent is-4">
                                    <div class="tile is-child">
                                        <div v-if="message" class="help is-danger">{{ message }}</div>
                                        <label class="label" for="order_id">Order</label>
                                        <div class="field">
                                            <div :class="['select', error.order_id ? 'is-danger' : '']">
                                                <select id="order_id" v-model="invoice.order_id" @change.prevent="getOrder()">
                                                    <option value="0">Choose an Order</option>
                                                    <option v-for="{ id, description, customer } in orders" v-bind:key="id" :value="id">{{ description }} ({{ customer.company }})</option>
                                                </select>
                                                <p v-if="error.order_id" class="help is-danger">{{ error.order_id[0] }}</p>
                                            </div>
                                        </div>
                                        <label class="label" for="date">Invoice date</label>
                                        <div class="field">
                                            <div :class="['control', error.date ? 'is-danger' : '']">
                                                <input class="input" id="date" :value="[invoice.date]">
                                                <p v-if="error.order_id" class="help is-danger">{{ error.date[0] }}</p>
                                            </div>
                                        </div>
                                        <div class="field is-grouped">
                                            <div class="control">
                                                <button class="button is-primary" @click.prevent="onSubmit()">Save</button>
                                            </div>
                                            <div class="control">
                                                <router-link :to="{ name: 'invoices.index'}" class="button is-link is-light">Cancel</router-link>
                                            </div>
                                            <div v-if="invoice.file" class="control">
                                                <button class="button is-secondary" @click.prevent="getFile()">Download Invoice</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tile is-parent is-8" id="invoice_preview">
                                    <div class="tile is-child" v-if="invoice.order">
                                        <p class="has-text-white">
                                            {{ invoice.order.customer.company }}<br>
                                            {{ invoice.order.customer.street }} {{ invoice.order.customer.houseno }}<br>
                                            {{ invoice.order.customer.zipcode }} {{ invoice.order.customer.city }}
                                        </p>
                                        <p class="has-text-white">
                                            Invoice Number: <br>
                                            Invoice Date: {{ invoice.date }}<br>
                                            Order Number: {{ invoice.order.orderNumber }}
                                        </p>
                                        <p class="has-text-white has-text-bold">Description: {{ invoice.order.description }}</p>
                                        <table class="table is-fullwidth">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">Invoice preview</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="{ amount, description, price, id } in invoice.order.lines" v-bind:key="id">
                                                    <td>{{ amount }}</td>
                                                    <td>{{ description }}</td>
                                                    <td class="has-text-right">&euro; {{ (price / 100).toFixed(2) }}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2"></td>
                                                    <td class="has-text-right">Total: &euro; {{ (invoice.order.total / 100).toFixed(2) }}</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import api from '../api/invoices';

    var moment = require('moment');

    const getOrders = (page, callback) => {
        const params = { page };

        axios
            .get('/api/orders/all', { params })
            .then(response => {
                callback(null, response.data);
            }).catch(error => {
            callback(error, error.response.data);
        });
    };

    export default {
        data() {
            return {
                orders: null,
                saving: false,
                message: false,
                invoice: {
                    order_id: 0,
                    order: null,
                    date: moment().format('DD-MM-YYYY'),
                    file: false,
                },
                error: [],
            }
        },
        beforeRouteEnter (to, from, next) {
            getOrders(to.query.page, (err, data) => {
                next(vm => vm.setData(err, data));
            });
        },
        methods: {
            setData(err, { data: orders, links, meta }) {
                if (err) {
                    console.log(err);
                    this.error = err.toString();
                } else {
                    this.orders = orders;
                }
            },
            getOrder() {
                this.saving = true;
                if(this.invoice.order_id == 0) {
                    this.invoice.order = null;
                    this.order_id = null;
                }
                axios.get('/api/orders/' + this.invoice.order_id)
                    .then(response => {
                        this.invoice.order = response.data.data;
                        this.order_id = response.data.data.id;
                        console.log(response.data);
                    }).catch(error => {
                        callback(error, error.response.data);
                    })
                this.saving = false;
            },
            onSubmit($event) {
                console.log('this')
                console.log(this);
                this.saving = true
                this.message = false

                api.create(this.invoice)
                    .then((response) => {
                        console.log('success');
                        this.invoice.file = true;

                        alert('done!');
                        // const url = window.URL.createObjectURL(new Blob([response.data], { type: "application/pdf" }));
                        // const link = document.createElement('a');
                        // link.href = url;
                        // link.setAttribute('download', 'file.pdf');
                        // document.body.appendChild(link);
                        // link.click();
                    }).catch((e) => {
                        // this.message = e.response.data.message || 'There was an issue generating the invoice.';
                        // this.error = e.response.data.errors;
                        console.log(e);
                    })

                this.saving = false;

            },
            getFile() {
                api.getFile(this.invoice.id)
                    .then((reponse) => {
                        const link = document.createElement('a')
                        link.href = URL.response.url;
                        link.download = label;
                        link.click();
                        URL.revokeObjectURL(link.href);
                    }).catch((e) => {
                        console.log(e);
                    })

            }
        },
    }
</script>
