<template>
    <div class="tile is-ancestor colums is-12">
        <div class="tile is-parent">
            <div class="tile is-child panel-view">
                <article class="panel is-primary">
                    <p class="panel-heading">New Order <span v-if="saving" class="is-pulled-right spinning"><i class="icofont-spinner-alt-6"></i></span></p>
                    <div class="panel-block">
                        <form class="control" autocomplete="off" @submit.prevent="onSubmit($event)">
                            <div class="tile colums is-ancestor">
                                <div class="tile is-parent is-4">
                                    <div class="tile is-child">
                                        <div v-if="message" class="help is-danger">{{ message }}</div>
                                        <label class="label" for="customer_id">Customer</label>
                                        <div class="field">
                                            <div :class="['select', error.customer_id ? 'is-danger' : '']">
                                                <select id="customer_id" v-model="order.customer_id">
                                                    <option v-for="{ id, company } in customers" v-bind:key="id" :value="id">{{ company }}</option>
                                                </select>
                                                <p v-if="error.customer_id" class="help is-danger">{{ error.customer_id[0] }}</p>
                                            </div>
                                        </div>
                                        <label class="label" for="description">Description</label>
                                        <div class="field">
                                            <div class="control">
                                                <input type="text" id="description" placeholder="Description" autocomplete="off" v-model="order.description" :class="['input', error.description ? 'is-danger' : '']">
                                                <p v-if="error.description" class="help is-danger">{{ error.description[0] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tile is-parent is-ancestor is-8">
                                    <div class="tile is-parent is-2">
                                        <div class="tile is-child">
                                            <label class="label">Amount</label>
                                            <div class="field amount-field">
                                                <div class="control">
                                                    <input type="number" step="1" class="input amount" name="order_lines[]['amount']" @keyup.prevent="updateOrderSummary()" id="amount_0" placeholder="Amount" tabindex="1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tile is-parent is-7">
                                        <div class="tile is-child">
                                            <label class="label">Description</label>
                                            <div class="field description-field">
                                                <div class="control">
                                                    <input type="text" class="input description" name="order_lines[]['description']" @keyup.prevent="updateOrderSummary()" id="description_0" placeholder="Description" tabindex="2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tile is-parent is-3">
                                        <div class="tile is-child">
                                            <label class="label">Price</label>
                                            <div class="field price-field">
                                                <div class="control">
                                                    <input type="text" class="input price" name="order_lines[]['price']" @keyup.prevent="updateOrderSummary()" id="price_0" placeholder="Price" tabindex="3">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tile is-ancestor">
                                <div class="tile is-parent is-6">
                                    <div class="tile is-child" v-if="this.order.orderlines.length > 0">
                                        <div id="order_summary">
                                            <p>Order Summary</p>
                                            <table class="table is-fullwidth">
                                                <tbody>
                                                    <tr v-for="{ amount, description, price, i } in this.order.orderlines" v-bind:key="i">
                                                        <td>{{ amount }}</td>
                                                        <td>{{ description }}</td>
                                                        <td class="has-text-right">&euro; {{ (price / 100).toFixed(2) }}</td>
                                                        <td class="has-text-right">&euro; {{ ((amount * price) / 100).toFixed(2) }}</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="3"></td>
                                                        <td class="has-text-right">Total: &euro; {{ (total / 100).toFixed(2) }}</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-primary">Save</button>
                                </div>
                                <div class="control">
                                    <router-link :to="{ name: 'orders.index'}" class="button is-link is-light">Cancel</router-link>
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
        <a @click.prevent="addOrderLine()" class="add-button button is-warning"><i class="icofont-plus"></i></a>
    </div>
</template>
<script>
    import axios from 'axios';
    import api from '../api/orders';

    const getCustomers = (page, callback) => {
        const params = { page };

        axios
            .get('/api/customers/all', { params })
            .then(response => {
                callback(null, response.data);
            }).catch(error => {
            callback(error, error.response.data);
        });
    };

    export default {
        data() {
            return {
                customers: null,
                saving: false,
                message: false,
                total: 0,
                order: {
                    customer: 0,
                    description: '',
                    orderlines: [],
                },
                error: [],
            }
        },
        computed: {

        },
        beforeRouteEnter (to, from, next) {
            getCustomers(to.query.page, (err, data) => {
                next(vm => vm.setData(err, data));
            });
        },
        beforeRouteUpdate (to, from, next) {
            this.users = this.links = this.meta = null
            getUsers(to.query.page, (err, data) => {
                this.setData(err, data);
                next();
            });
        },
        methods: {
            setData(err, { data: customers, links, meta }) {
                if (err) {
                    console.log(err);
                    this.error = err.toString();
                } else {
                    this.customers = customers;
                }
            },
            updateOrderSummary() {
                this.total = 0;
                this.order.orderlines = [];

                let amounts = document.getElementsByClassName('amount');
                let descriptions = document.getElementsByClassName('description');
                let prices = document.getElementsByClassName('price');

                for(var i = 0; i < amounts.length; i++) {
                    let price = prices[i].value * 100;

                    if(isNaN(price)) {
                        price = 0;
                    }

                    this.order.orderlines.push({'amount': amounts[i].value, 'description': descriptions[i].value, 'price': price});
                    this.total += amounts[i].value * (price)
                }

            },
            addOrderLine() {
                this.order.lines.push({'amount': 0, 'description': '', 'price': 0});
            },
            onSubmit($event) {
                console.log(this);
                this.saving = true
                this.message = false

                api.create(this.order)
                    .then((response) => {
                        this.$router.push({ name: 'orders.index', params: { id: response.data.data.id } });
                        console.log('success');
                    })
                    .catch((e) => {
                        this.message = e.response.data.message || 'There was an issue creating the order.';
                        this.error = e.response.data.errors;
                        console.log(e);
                    })
            }
    //
    //
    //             api.create(this.customer)
    //                 .then((response) => {
    //                     this.$router.push({ name: 'customers.index', params: { id: response.data.data.id } });
    //                     this.$forceUpdate();
    //                     console.log('success');
    //                 })
    //                 .catch((e) => {
    //                     this.message = e.response.data.message || 'There was an issue creating the customer.';
    //                     this.error = e.response.data.errors;
    //                     console.log(this.error);
    //                 })
    //                 .then(() => this.saving = false)
    //         },
    //         setData(err, { data: customers, links, meta }) {
    //             if (err) {
    //                 this.error = err.toString();
    //             } else {
    //                 this.customers = customers;
    //                 this.links = links;
    //                 this.meta = meta;
    //             }
    //         }
        }
    }
</script>
