<template>
    <div class="tile is-ancestor panel-view">
        <div class="tile is-vertical is-fullwidth is-parent">
            <article class="panel is-primary">
                <p class="panel-heading">All Orders</p>
                <div class="panel-block">
                    <table class="table is-hoverable is-fullwidth">
                        <thead>
                            <tr><th>Order</th><th>Customer</th><th>Description</th><th>Date</th><th class="has-text-right">Total</th><th class="has-text-centered">Status</th><th></th></tr>
                        </thead>
                        <tbody>
                            <tr v-for="{ id, orderNumber, customer, description, date, status, total } in orders" v-bind:key="id">
                                <td>{{ orderNumber }}</td>
                                <td>{{ customer.company }}</td>
                                <td>{{ description }}</td>
                                <td>{{ date }}</td>
                                <td class="has-text-right">&euro; {{ (total / 100).toFixed(2) }}</td>
                                <td class="has-text-centered"><i :class="[status == 0 ? 'icofont-ui-folder has-text-warning' : 'icofont-ui-check has-text-primary']"></i></td>
                                <td><router-link :to="{ name: 'orders.edit', params: { id } }" class="button is-small is-primary"><i class="icofont-pencil icofont-2x"></i></router-link> <a href="#" @click.prevent="onDelete(id)" class="button is-small is-danger"><i class="icofont-garbage icofont-2x"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
            <router-link :to="{ name: 'orders.create' }" class="add-button button is-warning"><i class="icofont-plus"></i></router-link>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import api from '../api/orders';

    const getOrders = (page, callback) => {
        const params = { page };

        axios
            .get('/api/orders', { params })
            .then(response => {
                callback(null, response.data);
            }).catch(error => {
                callback(error, error.response.data);
            });
    };

    export default {
        data() {
            return {
                orders: null,
                meta: null,
                links: {
                    first: null,
                    last: null,
                    next: null,
                    prev: null,
                },
                error: null,
            }
        },
        mounted:function() {

        },
        computed: {
            nextPage() {
                if (! this.meta || this.meta.current_page === this.meta.last_page) {
                    return;
                }

                return this.meta.current_page + 1;
            },
            prevPage() {
                if (! this.meta || this.meta.current_page === 1) {
                    return;
                }

                return this.meta.current_page - 1;
            },
            paginationCount() {
                if (! this.meta) {
                    return;
                }

                const { current_page, last_page } = this.meta;

                return `${current_page} of ${last_page}`;
            },
        },
        beforeRouteEnter (to, from, next) {
            getOrders(to.query.page, (err, data) => {
                next(vm => vm.setData(err, data));
            });
        },
        // when route changes and this component is already rendered,
        // the logic will be slightly different.
        beforeRouteUpdate (to, from, next) {
            this.orders = this.links = this.meta = null
            getOrders(to.query.page, (err, data) => {
                this.setData(err, data);
                next();
            });
            console.log(this.orders);
        },
        methods: {
            // onDelete(id) {
            //     this.$swal({
            //         title: 'Are you sure?',
            //         text: "You won't be able to revert this!",
            //         icon: 'warning',
            //         showCancelButton: true,
            //         confirmButtonColor: '#3085d6',
            //         cancelButtonColor: '#d33',
            //         confirmButtonText: 'Yes, delete it!'
            //     }).then((result) => {
            //         if (result.value) {
            //             this.saving = true;
            //             let _this = this;

            //             api.delete(id)
            //                 .then((response) => {
            //                     this.message = 'Order Deleted';
            //                     setTimeout(() => _this.getItems(), 1000);
            //                 });
            //             this.$swal.fire(
            //                 'Deleted!',
            //                 'The Order has been deleted.',
            //                 'success'
            //             )
            //         }
            //     })
            // },
            goToNext() {
                this.$router.push({
                    query: {
                        page: this.nextPage,
                    },
                });
            },
            goToPrev() {
                this.$router.push({
                    name: 'orders.index',
                    query: {
                        page: this.prevPage,
                    }
                });
            },
            setData(err, { data: orders, links, meta }) {
                if (err) {
                    this.error = err.toString();
                } else {
                    this.orders = orders;
                    this.links = links;
                    this.meta = meta;
                }
            },
            getItems() {
                var _this = this;

                axios.get('/api/orders').then(function (response) {
                    _this.orders = response.data.data;
                });
            }
        }
    }

</script>
