<template>
    <div class="tile is-ancestor panel-view">
        <div class="tile is-vertical is-fullwidth is-parent">
            <article class="panel is-primary">
                <p class="panel-heading">All Users</p>
                <div class="panel-block">
                    <table class="table is-hoverable is-fullwidth" id="datatable">
                        <thead>
                            <tr>
                                <th>Name</th><th>Email</th><th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="{ id, name, email } in users" v-bind:key="id">
                                <td>{{ name }}</td>
                                <td>{{ email }}</td>
                                <td><router-link :to="{ name: 'users.edit', params: { id } }"  class="button is-small is-primary"><i class="icofont-pencil icofont-2x"></i></router-link></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-block">
                    <p>{{ paginationCount }}</p>
                </div>
                <div class="panel-block">
                    <nav class="pagination is-right" role="navigation" aria-label="pagination">
                        <button :disabled="! prevPage" @click.prevent="goToPrev" class="pagination-previous">Previous</button>
                        <button :disabled="! nextPage" @click.prevent="goToNext" class="pagination-next">Next</button>
                    </nav>
                </div>
            </article>
        </div>
        <div>
            <router-link :to="{ name: 'users.create' }" class="add-button button is-warning"><i class="icofont-plus"></i></router-link>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';

    const getUsers = (page, callback) => {
        const params = { page };

        axios
            .get('/api/users', { params })
            .then(response => {
                callback(null, response.data);
            }).catch(error => {
            callback(error, error.response.data);
        });
    };

    export default {
        data() {
            return {
                users: null,
                meta: null,
                links: {
                    first: null,
                    last: null,
                    next: null,
                    prev: null,
                },
                error: null,
            };
        },
        computed: {
            nextPage() {
                if (! this.meta || this.meta.current_page === this.meta.last_page) {
                    return;
                }

                return this.meta.current_page + 1;
            },
            prevPage() {
                if (! this.meta || this.meta.current_page === 1) {
                    return;
                }

                return this.meta.current_page - 1;
            },
            paginationCount() {
                if (! this.meta) {
                    return;
                }

                const { current_page, last_page } = this.meta;

                return `${current_page} of ${last_page}`;
            },
        },
        beforeRouteEnter (to, from, next) {
            getUsers(to.query.page, (err, data) => {
                next(vm => vm.setData(err, data));
            });
        },
        // when route changes and this component is already rendered,
        // the logic will be slightly different.
        beforeRouteUpdate (to, from, next) {
            this.users = this.links = this.meta = null
            getUsers(to.query.page, (err, data) => {
                this.setData(err, data);
                next();
            });
        },
        methods: {
            goToNext() {
                this.$router.push({
                    query: {
                        page: this.nextPage,
                    },
                });
            },
            goToPrev() {
                this.$router.push({
                    name: 'users.index',
                    query: {
                        page: this.prevPage,
                    }
                });
            },
            setData(err, { data: users, links, meta }) {
                if (err) {
                    this.error = err.toString();
                } else {
                    this.users = users;
                    this.links = links;
                    this.meta = meta;
                }
            },
        }
    }
</script>
