<template>
    <div class="tile is-ancestor colums is-6">
        <div v-if="message" class="alert">{{ message }}</div>
        <div class="tile is-parent">
            <div class="tile is-child panel-view">
                <article class="panel is-primary">
                    <p class="panel-heading">New User</span> <span v-if="saving" class="is-pulled-right spinning"><i class="icofont-spinner-alt-6"></i></span></p>
                    <div class="panel-block">
                        <form class="control" @submit.prevent="onSubmit($event)">
                            <div class="field">
                                <label class="label" for="name">Name</label>
                                <div class="control">
                                    <input type="text" id="name" placeholder="Name" autocomplete="off" v-model="user.name" :class="['input', error.name ? 'is-danger' : '']">
                                    <p v-if="error.name" class="help is-danger">{{ error.name[0] }}</p>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="email">Email</label>
                                <div class="control">
                                    <input type="email" id="email" placeholder="Email" autocomplete="off" v-model="user.email" :class="['input', error.email ? 'is-danger' : '']">
                                    <p v-if="error.email" class="help is-danger">{{ error.email[0] }}</p>
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-primary"><i class="fas fa-circle-notch fa-spin"></i> Save</button>
                                </div>
                                <div class="control">
                                    <router-link :to="{ name: 'users.index'}" class="button is-link is-light">Cancel</router-link>
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
</template>
<script>
    import api from '../api/users';

    export default {
        data() {
            return {
                saving: false,
                message: false,
                user: {
                    name: '',
                    email: '',
                    password: '',
                },
                error: []
            }
        },
        methods: {
            onSubmit($event) {
                this.saving = true
                this.message = false
                api.create(this.user)
                    .then((response) => {
                        this.$router.push({ name: 'users.edit', params: { id: response.data.data.id } });
                    })
                    .catch((e) => {
                        this.message = e.response.data.message || 'There was an issue creating the user.';
                        this.error = e.response.data.errors;
                    })
                    .then(() => this.saving = false)
            }
        }
    }
</script>
<style lang="scss" scoped>
    $red: lighten(red, 30%);
    $darkRed: darken($red, 50%);

    .form-group {
        margin-bottom: 1em;
        label {
            display: block;
        }
    }
    .alert {
        background: $red;
        color: $darkRed;
        padding: 1rem;
        margin-bottom: 1rem;
        width: 50%;
        border: 1px solid $darkRed;
        border-radius: 5px;
    }
</style>
