<template>
    <div class="tile is-ancestor colums is-6">
        <div v-if="message" class="alert">{{ message }}</div>
        <div class="tile is-parent">
            <div class="tile is-child panel-view">
                <article class="panel is-primary">
                    <p class="panel-heading">Edit <span v-if="user">{{ user.name }}</span> <span v-if="! loaded || saving" class="is-pulled-right spinning"><i class="icofont-spinner-alt-6"></i></span></p>
                    <div class="panel-block">
                        <form class="control" @submit.prevent="onSubmit($event)">
                            <div class="field">
                                <label class="label" for="name">Name</label>
                                <div class="control">
                                    <input type="text" id="name" placeholder="Name" autocomplete="off" v-model="user.name" :class="['input', error.name ? 'is-danger' : '']">
                                    <p v-if="error.name" class="help is-danger">{{ error.name[0] }}</p>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="email">Email</label>
                                <div class="control">
                                    <input type="email" id="email" placeholder="Email" autocomplete="off" v-model="user.email" :class="['input', error.email ? 'is-danger' : '']">
                                    <p v-if="error.email" class="help is-danger">{{ error.email[0] }}</p>
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-primary"><i class="fas fa-circle-notch fa-spin"></i> Save</button>
                                </div>
                                <div class="control">
                                    <router-link :to="{ name: 'users.index'}" class="button is-link is-light">Cancel</router-link>
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
</template>
<script>
    import api from '../api/users';

    export default {
        data() {
            return {
                message: null,
                loaded: false,
                saving: false,
                user: {
                    id: null,
                    name: "",
                    email: ""
                },
                error: [],
            };
        },
        methods: {
            onSubmit(event) {
                this.saving = true;

                api.update(this.user.id, {
                    name: this.user.name,
                    email: this.user.email,
                }).then((response) => {
                    this.message = 'User updated';
                    setTimeout(() => this.message = null, 10000);
                    this.user = response.data.data;
                }).catch(error => {
                    console.log(error)
                }).then(_ => this.saving = false);
            },
            onDelete() {
                this.saving = true;

                api.delete(this.user.id)
                    .then((response) => {
                        this.message = 'User Deleted';
                        setTimeout(() => this.$router.push({ name: 'users.index' }), 2000);
                    });
            }
        },
        created() {
            api.find(this.$route.params.id)
                .then((response) => {
                    this.loaded = true;
                    this.user = response.data.data;
                })
                .catch((err) => {
                    this.$router.push({ name: '404' });
                });
        }
    };
</script>
<style lang="scss" scoped>
    $red: lighten(red, 30%);
    $darkRed: darken($red, 50%);
    .form-group label {
        display: block;
    }
    .alert {
        background: $red;
        color: $darkRed;
        padding: 1rem;
        margin-bottom: 1rem;
        width: 50%;
        border: 1px solid $darkRed;
        border-radius: 5px;
    }
</style>
